.calendar_article {
    width: 90%;
    margin-left: 5%;
    background-color: #371600;
    padding: 2%;
    box-sizing: border-box;
    float: left;
    border: 1px dotted white;
}

.calendar_article .days {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
}

.calendar_article .day {
    border: 1px dotted white;
    box-sizing: border-box;
    border-radius: 3%;
    width: 150px;
    margin: 5px;
    padding: 1%;
}

.calendar_article .save_graph,
.calendar_article .clear_month,
.calendar_article .edit_graph,
.calendar_article .cancel_graph {
    width: 130px;
    cursor: pointer;
    display: none;
}

.calendar_article .day select {
    width: 130px;
    display: none;
}

.calendar_article .day select .optionClear:hover {
    text-decoration: underline;
    cursor: pointer;
}