.header_log_reg .login_register {
    float: right;
    width: 100%;
    text-align: center;
}

.user_header .my_initials {
    float: left;
    width: 30%;
}

.user_header .edit_page {
    float: left;
    width: 70%;
    text-align: right;
}

.user_header .exit {
    float: right;
    text-align: right;
}

.my_edit_page,
.users,
.calendar,
.edit_site {
    float: right;
    text-align: right;
    margin-right: 1%;
}

.edit_site {
    cursor: pointer;
    color: white;
}

.edit_site:hover {
    color: rgb(240, 205, 165);
}

.edit_site,
.edit_site:hover {
    -webkit-transition: all.4s ease;
    -moz-transition: all.4s ease;
    -o-transition: all.4s ease;
    -ms-transition: all.4s ease;
    transition: all.4s ease;
}

.edit_site_menu {
    width: 100%;
    right: 0;
    display: none;
    position: absolute;
    top: 50px;
    background-image: url("/img/backgroundHeaders.jpg");
    border-bottom: 1px dotted white;
    padding: 1%;
}

.edit_site_menu a {
    margin-left: 1%;
}