.header_log_reg .login_register {
    float: right;
    width: 100%;
    text-align: center;
}

.user_header {
    opacity: 100;
}

.user_header .my_initials {
    float: left;
    width: 35%;
}

.user_header .edit_page {
    float: left;
    width: 65%;
    text-align: right;
}

.user_header .exit {
    float: right;
    text-align: right;
}

.my_edit_page,
.users,
.calendar,
.edit_site,
.edit_menu {
    float: right;
    margin-right: 1%;
}

.edit_site,
.edit_menu {
    cursor: pointer;
    color: white;
}

.edit_site:hover,
.edit_menu:hover {
    color: rgb(240, 205, 165);
}

.edit_site,
.edit_menu,
.edit_site:hover,
.edit_menu:hover {
    -webkit-transition: all.4s ease;
    -moz-transition: all.4s ease;
    -o-transition: all.4s ease;
    -ms-transition: all.4s ease;
    transition: all.4s ease;
}

.edit_site_type {
    z-index: 1000;
    width: 100%;
    right: 0;
    display: none;
    position: absolute;
    background-image: url("/img/backgroundHeaders.jpg");
    border-bottom: 1px dotted white;
    padding: 1%;
}

.edit_menu {
    float: right;
    margin-left: 1%;
}

.edit_menu_type {
    width: 100%;
    right: 0;
    display: none;
    position: absolute;
    background-image: url("/img/backgroundHeaders.jpg");
    border-bottom: 1px dotted white;
    padding: 1%;
}

.edit_site_type a {
    margin-left: 1%;
}

@media (min-width: 800px) and (max-width: 999px) {
    .user_header {
        font-size: 0.8em;
    }
}

@media (min-width: 600px) and (max-width: 799px) {
    .user_header {
        font-size: 0.7em;
    }
}

@media (min-width: 320px) and (max-width: 599px) {
    .user_header {
        font-size: 0.35em;
    }
}

@media (max-width: 319px) {
    .user_header {
        font-size: 0.3em;
    }
}